Source: ubuntu-wsl-integration
Section: admin
Priority: optional
Maintainer: Patrick Wu <patrick.wu@canonical.com>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3-all,
               python3-all-dev,
               python3-setuptools
Standards-Version: 4.5.1.0
Vcs-Git: https://github.com/canonical/ubuntu-wsl-integration.git -b master
Vcs-Browser: https://github.com/canonical/ubuntu-wsl-integration
Homepage: https://www.ubuntu.com/wsl

Package: ubuntu-wsl-integration
Architecture: amd64 arm64
Depends: python3-urwid, wslu (>= 3.2.0), ${misc:Depends}, ${python3:Depends}
Recommends: pulseaudio-utils, x11-utils
Description: Ubuntu WSL Integration. Allows managing Ubuntu WSL integrations.
